.game-container
{
	height: 100%;
	display: flex;
}
.game-board
{
	flex: 1;
	min-width: 450px;
	background-color: $grass-bgColor;
	position: relative;
}
.game-canvas
{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%);
}
.board-canvas
{

	background-image: url("../img/garden.jpg");
	background-size: cover;
}
.measure-icon
{
	position: absolute;
	left: 18px;
	top: 4px;
	width: 48px;
	height: auto;
	&:hover
	{
		cursor: pointer;
	}
}
.measureMobile-icon
{
	display: block;
	position: fixed;
	pointer-events: none;
}
.code-board
{
	flex: 1;
	min-width: 450px;
	display: flex;
	flex-direction: column;
	.code-example
	{
		padding: 10px;
		font-size: 0.8rem;
	}
	.code-container
	{
		padding: 10px;
		flex: 1;
		color: white;
		background-color: $blackBoard-bgColor;
	}
	.buttons-container
	{
		width: 100%;
		height: 160px;
		background-color: pink;
		div
		{
			padding: 10px;
			height: 50%;
		}
	}
	.correctCode
	{
		color: black;
		background-color: green;
	}
	.wrongCode
	{
		color: black;
		background-color: red;
	}
}
.run-button
{
	border: 1px solid black;
	padding: 10px;
	font-size: 1rem;
	&:hover
	{
		cursor: pointer;
	}
}
.message-container
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	background-color: rgba(255, 255, 255, .5);
	transition: opacity 0.2s;
}
.message-box
{
	border: 1px solid black;
	padding: 50px;
	position: relative;
	max-width: 750px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
}
.message-button
{
	margin: 1rem;
	border: 1px solid grey;
	padding: 0.5rem 1rem;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 1.5rem;
	&:hover
	{
		cursor: pointer;
		background-color: grey;
	}
}