.game-container
{
	height: 100%;
	display: flex;
}
.game-canvas
{
	border: 1px solid green;
}
.game-board
{
	padding: 10px;
	flex: 1;
	min-width: 450px;
	background-color: $grass-bgColor;
}
.code-board
{
	flex: 2;
	min-width: 450px;
	display: flex;
	flex-direction: column;
	.code-container
	{
		padding: 10px;
		flex: 1;
		color: white;
		background-color: $blackBoard-bgColor;
	}
	.buttons-container
	{
		width: 100%;
		height: 160px;
		background-color: pink;
		div
		{
			padding: 10px;
			height: 50%;
		}
	}
}
.run-button
{
	border: 1px solid black;
	padding: 10px;
	font-size: 1rem;
	&:hover
	{
		cursor: pointer;
	}
}