html, body, header, nav, footer, section, div, span, h1, h2, h3, h4, h5, h6, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, textarea, button {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  font-size: 18px; }

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column; }

#main {
  flex: 1; }

.maxWidth-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  width: 100%; }

.centerXY {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.hidden {
  opacity: 0 !important;
  pointer-events: none; }

header {
  width: 100%;
  background-color: #75858c; }
  header .header-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header-content .flags-container {
      height: 100%; }
      header .header-content .flags-container a {
        margin-left: 10px; }

.flag {
  margin: 25px; }
  .flag img {
    border: 2px solid grey; }

.game-container {
  height: 100%;
  display: flex; }

.game-board {
  flex: 1;
  min-width: 450px;
  background-color: #77985d;
  position: relative; }

.game-canvas {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%); }

.board-canvas {
  background-image: url("../img/garden.jpg");
  background-size: cover; }

.measure-icon {
  position: absolute;
  left: 18px;
  top: 4px;
  width: 48px;
  height: auto; }
  .measure-icon:hover {
    cursor: pointer; }

.measureMobile-icon {
  display: block;
  position: fixed;
  pointer-events: none; }

.code-board {
  flex: 1;
  min-width: 450px;
  display: flex;
  flex-direction: column; }
  .code-board .code-example {
    padding: 10px;
    font-size: 0.8rem; }
  .code-board .code-container {
    padding: 10px;
    flex: 1;
    color: white;
    background-color: #2c2e35; }
  .code-board .buttons-container {
    width: 100%;
    height: 160px;
    background-color: pink; }
    .code-board .buttons-container div {
      padding: 10px;
      height: 50%; }
  .code-board .correctCode {
    color: black;
    background-color: green; }
  .code-board .wrongCode {
    color: black;
    background-color: red; }

.run-button {
  border: 1px solid black;
  padding: 10px;
  font-size: 1rem; }
  .run-button:hover {
    cursor: pointer; }

.message-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  transition: opacity 0.2s; }

.message-box {
  border: 1px solid black;
  padding: 50px;
  position: relative;
  max-width: 750px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }

.message-button {
  margin: 1rem;
  border: 1px solid grey;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5rem; }
  .message-button:hover {
    cursor: pointer;
    background-color: grey; }

@media screen and (max-width: 900px) {
  .game-container {
    flex-direction: column; } }

/*# sourceMappingURL=style.css.map */
